{
  "root": "${appconfig.datadir}/data",
  "port": "${appconfig.tcpport.main}",
  "serverUri": "${site.protocol}://${site.hostname}",
  "webid": true,
  "mount": "${appconfig.context}/",
  "configPath": "${appconfig.datadir}/config",
  "dbPath": "${appconfig.datadir}/db",
  "sslKey": "${apache2.ssldir}/${site.siteid}.key",
  "sslCert": "${apache2.ssldir}/${site.siteid}.crt",
  "multiuser": false,
  "corsProxy": "/proxy"
}
