[Unit]
Description=solid-server - Social Linked Data
Documentation=https://solid.inrupt.com/docs/
After=network.target

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart solid-server@%I
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop solid-server@%I
Type=simple
WorkingDirectory=/ubos/lib/solid-server/%I
Environment=NODE_PATH=/ubos/share/solid-server/node_modules
# Allow self-signed certs
ExecStart=/ubos/share/solid-server/solid-server/bin/solid-test start -v
# ExecStart=/ubos/share/solid-server/solid-server/bin/solid start -v
User=solid-server
# Allow us to get at the TLS keys
Group=http
Restart=always

[Install]
WantedBy=multi-user.target
